<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body>
        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="container">
                <h1><%= post.title %></h1>
                <div><%= post.author %> | <%= post.createdAt %></div>
                <p><%= post.content %></p>
                <hr>
                <a href="/post/<%= post._id %>/edit" class="btn btn-primary">Edit</a>
                <a href="" data-id="<%= post._id %>" class="btn btn-danger delete-post">Delete</a>
            </div>
        </main>
        <footer class="bg-light">
            <% include ../partials/footer %>
        </footer>
    </body>
</html>